.element-products {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-products .element-single-products {
  background-color: #ffffff;
  height: 2595px;
  width: 1920px;
}

.element-products .product-detail {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 347px;
}

.element-products .product-details {
  height: 558px;
  position: relative;
  width: 1320px;
}

.element-products .div {
  height: 556px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 648px;
}

.element-products .product-image {
  height: 556px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 556px;
}

.element-products .slide {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 0;
  position: absolute;
  top: 80px;
}

.element-products .arrow-down {
  height: 24px;
  left: 28px;
  position: absolute;
  top: 532px;
  width: 24px;
}

.element-products .img {
  height: 24px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 24px;
}

.element-products .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 672px;
  position: absolute;
  top: 0;
}

.element-products .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.element-products .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.element-products .div-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.element-products .text-wrapper {
  color: var(--gray-scalegray-900);
  font-family: var(--heading-04-heading-04-400-font-family);
  font-size: var(--heading-04-heading-04-400-font-size);
  font-style: var(--heading-04-heading-04-400-font-style);
  font-weight: var(--heading-04-heading-04-400-font-weight);
  letter-spacing: var(--heading-04-heading-04-400-letter-spacing);
  line-height: var(--heading-04-heading-04-400-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .rating-sku {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.element-products .rating {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.element-products .star {
  height: 18px;
  position: relative;
  width: 18px;
}

.element-products .text-wrapper-2 {
  color: var(--gray-scalegray-600);
  font-family: var(--body-small-body-small-400-font-family);
  font-size: var(--body-small-body-small-400-font-size);
  font-style: var(--body-small-body-small-400-font-style);
  font-weight: var(--body-small-body-small-400-font-weight);
  letter-spacing: var(--body-small-body-small-400-letter-spacing);
  line-height: var(--body-small-body-small-400-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .text-wrapper-3 {
  color: var(--gray-scalegray-300);
  font-family: var(--body-small-body-small-500-font-family);
  font-size: var(--body-small-body-small-500-font-size);
  font-style: var(--body-small-body-small-500-font-style);
  font-weight: var(--body-small-body-small-500-font-weight);
  letter-spacing: var(--body-small-body-small-500-letter-spacing);
  line-height: var(--body-small-body-small-500-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .SKU {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.element-products .text-wrapper-4 {
  color: var(--gray-scalegray-800);
  font-family: var(--body-small-body-small-500-font-family);
  font-size: var(--body-small-body-small-500-font-size);
  font-style: var(--body-small-body-small-500-font-style);
  font-weight: var(--body-small-body-small-500-font-weight);
  letter-spacing: var(--body-small-body-small-500-letter-spacing);
  line-height: var(--body-small-body-small-500-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .price {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.element-products .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.element-products .text-wrapper-5 {
  color: var(--gray-scalegray-300);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.element-products .text-wrapper-6 {
  color: var(--brandingsuccess-dark);
  font-family: var(--body-XXL-body-XXL-500-font-family);
  font-size: var(--body-XXL-body-XXL-500-font-size);
  font-style: var(--body-XXL-body-XXL-500-font-style);
  font-weight: var(--body-XXL-body-XXL-500-font-weight);
  letter-spacing: var(--body-XXL-body-XXL-500-letter-spacing);
  line-height: var(--body-XXL-body-XXL-500-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .div-wrapper {
  align-items: flex-start;
  background-color: #e94b481a;
  border-radius: 30px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  padding: 3px 10px;
  position: relative;
}

.element-products .text-wrapper-7 {
  color: var(--brandingerror);
  font-family: var(--body-small-body-small-500-font-family);
  font-size: var(--body-small-body-small-500-font-size);
  font-style: var(--body-small-body-small-500-font-style);
  font-weight: var(--body-small-body-small-500-font-weight);
  letter-spacing: var(--body-small-body-small-500-letter-spacing);
  line-height: var(--body-small-body-small-500-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .line {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 647px;
}

.element-products .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.element-products .frame-5 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 648px;
}

.element-products .text-wrapper-8 {
  color: var(--gray-scalegray-900);
  font-family: var(--body-small-body-small-400-font-family);
  font-size: var(--body-small-body-small-400-font-size);
  font-style: var(--body-small-body-small-400-font-style);
  font-weight: var(--body-small-body-small-400-font-weight);
  letter-spacing: var(--body-small-body-small-400-letter-spacing);
  line-height: var(--body-small-body-small-400-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .group {
  height: 56px;
  margin-right: -2px;
  position: relative;
  width: 58px;
}

.element-products .overlap-group {
  background-color: var(--gray-scalewhite);
  border: 0.8px solid;
  border-color: #e6e6e6;
  border-radius: 4px;
  height: 56px;
  position: relative;
  width: 56px;
}

.element-products .group-2 {
  height: 12px;
  left: 11px;
  position: absolute;
  top: 14px;
  width: 32px;
}

.element-products .text-wrapper-9 {
  color: #555555;
  font-family: "Dancing Script-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 7px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.element-products .share {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.element-products .share-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.element-products .p {
  color: var(--gray-scalegray-500);
  font-family: var(--body-small-body-small-400-font-family);
  font-size: var(--body-small-body-small-400-font-size);
  font-style: var(--body-small-body-small-400-font-style);
  font-weight: var(--body-small-body-small-400-font-weight);
  letter-spacing: var(--body-small-body-small-400-letter-spacing);
  line-height: var(--body-small-body-small-400-line-height);
  position: relative;
  width: 568px;
}

.element-products .CTA {
  align-items: center;
  background-color: var(--gray-scalewhite);
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 1px 0px #e5e5e5, 0px -1px 0px #e5e5e5;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  padding: 18px 0px;
  position: relative;
}

.element-products .quantity {
  align-items: center;
  background-color: var(--gray-scalewhite);
  border: 1px solid;
  border-color: #e6e6e6;
  border-radius: 170px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.element-products .img-wrapper {
  background-color: var(--gray-scalegray-50);
  border-radius: 170px;
  height: 34px;
  position: relative;
  width: 34px;
}

.element-products .img-2 {
  height: 14px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 14px;
}

.element-products .text-wrapper-10 {
  color: var(--gray-scalegray-900);
  font-family: var(--body-medium-body-medium-400-font-family);
  font-size: var(--body-medium-body-medium-400-font-size);
  font-style: var(--body-medium-body-medium-400-font-style);
  font-weight: var(--body-medium-body-medium-400-font-weight);
  letter-spacing: var(--body-medium-body-medium-400-letter-spacing);
  line-height: var(--body-medium-body-medium-400-line-height);
  position: relative;
  text-align: center;
  width: 40px;
}

.element-products .button {
  all: unset;
  align-items: center;
  background-color: var(--brandingsuccess);
  border-radius: 43px;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px 40px;
  position: relative;
  width: 447px;
}

.element-products .text-wrapper-11 {
  color: var(--gray-scalewhite);
  font-family: var(--body-medium-body-medium-600-font-family);
  font-size: var(--body-medium-body-medium-600-font-size);
  font-style: var(--body-medium-body-medium-600-font-style);
  font-weight: var(--body-medium-body-medium-600-font-weight);
  letter-spacing: var(--body-medium-body-medium-600-letter-spacing);
  line-height: var(--body-medium-body-medium-600-line-height);
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .rectangle {
  height: 16.3px;
  position: relative;
  width: 16.3px;
}

.element-products .button-2 {
  flex: 0 0 auto;
  position: relative;
}

.element-products .div-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.element-products .text-wrapper-12 {
  color: var(--gray-scalegray-900);
  font-family: var(--body-small-body-small-500-font-family);
  font-size: var(--body-small-body-small-500-font-size);
  font-style: var(--body-small-body-small-500-font-style);
  font-weight: var(--body-small-body-small-500-font-weight);
  letter-spacing: var(--body-small-body-small-500-letter-spacing);
  line-height: var(--body-small-body-small-500-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .text-wrapper-13 {
  color: var(--gray-scalegray-500);
  font-family: var(--body-small-body-small-400-font-family);
  font-size: var(--body-small-body-small-400-font-size);
  font-style: var(--body-small-body-small-400-font-style);
  font-weight: var(--body-small-body-small-400-font-weight);
  letter-spacing: var(--body-small-body-small-400-letter-spacing);
  line-height: var(--body-small-body-small-400-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-products .text-wrapper-14 {
  color: var(--gray-scalegray-900);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.element-products .products-description {
  height: 523px;
  position: relative;
  width: 1920px;
}

.element-products .description {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 300px;
  position: absolute;
  top: 88px;
}

.element-products .sed-commodo-aliquam {
  color: var(--gray-scalegray-500);
  font-family: var(--body-small-body-small-400-font-family);
  font-size: var(--body-small-body-small-400-font-size);
  font-style: var(--body-small-body-small-400-font-style);
  font-weight: var(--body-small-body-small-400-font-weight);
  letter-spacing: var(--body-small-body-small-400-letter-spacing);
  line-height: var(--body-small-body-small-400-line-height);
  margin-top: -1px;
  position: relative;
  width: 648px;
}

.element-products .feature {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.element-products .feature-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.element-products .check {
  background-color: var(--brandingsuccess);
  border-radius: 100px;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 20px;
}

.element-products .check-2 {
  height: 12px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 12px;
}

.element-products .text-wrapper-15 {
  color: var(--gray-scalegray-500);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1px;
  position: relative;
  width: 620px;
}

.element-products .text-wrapper-16 {
  color: var(--gray-scalegray-500);
  font-family: var(--body-small-body-small-400-font-family);
  font-size: var(--body-small-body-small-400-font-size);
  font-style: var(--body-small-body-small-400-font-style);
  font-weight: var(--body-small-body-small-400-font-weight);
  letter-spacing: var(--body-small-body-small-400-letter-spacing);
  line-height: var(--body-small-body-small-400-line-height);
  position: relative;
  width: 648px;
}

.element-products .navigation {
  align-items: flex-start;
  background-color: var(--gray-scalewhite);
  box-shadow: var(--line-shadow);
  display: inline-flex;
  left: 0;
  padding: 0px 689px;
  position: absolute;
  top: 0;
}

.element-products .video {
  background-image: url(./image.png);
  background-size: 100% 100%;
  height: 300px;
  left: 1084px;
  position: absolute;
  top: 88px;
  width: 536px;
}

.element-products .play {
  height: 50px;
  left: 243px;
  position: relative;
  top: 125px;
  width: 50px;
}

.element-products .group-wrapper {
  background-color: var(--brandingsuccess);
  border-radius: 25px;
  height: 50px;
  position: relative;
}

.element-products .group-3 {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 16px;
  width: 14px;
}

.element-products .feature-3 {
  align-items: center;
  background-color: var(--gray-scalewhite);
  border: 1px solid;
  border-color: #e6e6e6;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  left: 1083px;
  padding: 24px 20px;
  position: absolute;
  top: 408px;
  width: 537px;
}

.element-products .feature-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.element-products .img-3 {
  height: 32px;
  position: relative;
  width: 32px;
}

.element-products .info {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.element-products .text-wrapper-17 {
  color: var(--gray-scalegray-500);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.5px;
  position: relative;
  width: 198px;
}

.element-products .text-wrapper-18 {
  color: var(--gray-scalegray-500);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.5px;
  position: relative;
  width: 189px;
}